
numpy
streamlit
openai
python-dotenv
requests
uuid
faker
fastapi
uvicorn
mlflow
pymssql
pyodbc
faker
pandas

# azure-identity 
# azure-keyvault-secrets 
# azure-storage-blob
# azure-search-documents
# pip install azure-ai-projects azure-identity
# ! pip install azure-monitor-opentelemetry opentelemetry-sdk

# Register the virtual environment as a Jupyter kernel:
# python -m ipykernel install --user --name=.venv --display-name="Python (.venv)"
